<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    {%load static%}
    <link href="{%static 'home.css'%}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar"><h1>{{event.title}}</h1></div>
    <div>
      <p>city: {{ event.city }}</p>

      <p>genere: {{ event.genere }}</p>

      <p>date: {{ event.date }}</p>
      <p>description: {{ event.description}}</p>
      <!-- <p>advertised: {{advertised}}</p> -->
      <p>sponsor:</p>
      <!-- <button>Edit Details</button> -->
      <form method="post">
        {% csrf_token %}
        <button>Advertise</button>
      </form>

      {% if event.sponsor %}
      <button name="add_sponsor">
        <a href="{% url 'sponsor:add_sponsor' event.id %}"> Add Sponsor</a>
      </button>
      >{% endif %}
    </div>
  </body>
</html>
