<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    {%load static%}
    <link href="{%static 'home.css'%}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="navbar"><h1>{{event.title}}</h1></div>
    <div>
      <p>city: {{ event.city }}</p>

      <p>genere: {{ event.genere }}</p>

      <p>date: {{ event.date }}</p>
      <p>description: {{ event.description}}</p>
      
      <form method="post">
        {% csrf_token %}
      
      <textarea placeholder="write message to organiser" name="msg"></textarea><br>

      {% if event.sponsor %}
      <button type = "submit" name="add_sponsor">
       Sponsor
      </button>
      {% endif %}
      </form>
    </div>
    <hr>
    <button><a href="/logout">Logout</a>/<button>
  </body>
</html>
